# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# Env
.env
.env.local
.env.production

# Dependency directories
vendor/

# IDE and editor configuration files
.idea/
.vscode/
*.swp

# Logs
*.log

# System specific files
.DS_Store
Thumbs.db

# Coverage results
coverage.out

# Build directories
bin/
build/
dist/
api_request/

# Go modules
/go/pkg/mod/
/go/bin/

# Gin and Supabase
/.air
/.supabase
